<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <th:block th:replace="frags/header.html">
   
    </th:block>
    <div  class="contenedor"></div>

        <div ></div>
        <div class="container1">
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
        <div class="container2">
            <img id="user" th:src="@{/img/grafico_visitas.png}" alt="Imagen de visitas" ></span>
        </div>
        
    </div>
    
    <h3>Visitas a la web</h3>
    <div class="container2">
            <img id="user" th:src="@{/img/grafico_visitas.png}" alt="Grafico visitas web" ></span>
        </div>

     <div class="project_cards-grid-item">
              
                <p class="alignCenter">Gestionar usuarios, borrar usuarios, borrar permisos</p>

                <div class="viewProjectBtnContainer">
                    <span class="btn" href="/gestion-usuarios.html">Gestion de Usuario</span>
                </div>
            </div>
            <div class="project_cards-grid-item">
              
                <p class="alignCenter">Consulta gráficos de visitas, de registro de usurios, actividad</p>
                <div class="viewProjectBtnContainer">
                    <span class="btn" href="/consulta-graficos-visitas.html">Actividad</span>
                </div>

            </div>
            <div class="project_cards-grid-item">
               
                <p class="alignCenter">Ajustes generales, gestión de recursos...</p>
                <div class="viewProjectBtnContainer">
                    <span class="btn" href="/ajustes-generales.html">Gestion de la Web</span>
                </div>

            </div>
            <div class="project_cards-grid-item">
                

                <p class="alignCenter">Consulta todos los reportes de los usuarios</p>
                <div class="viewProjectBtnContainer">
                    <span class="btn" href="/reportes-usuarios.html">Reportes de usuarios</span>
                </div>
            </div>
    
</body>
</html>