<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
</head>
<body>
    <th:block th:replace="frags/header.html">
   
    </th:block>
    <div  class="contenedor"></div>

        <div ></div>
        <div class="container1">
            <span> </span>
            <span> </span>
            <span> </span>
        </div>
        <div class="container2">
            <img id="user" th:src="@{/img/grafico_visitas.png}" alt="Imagen de visitas" ></span>
        </div>
        
    </div>
    
    <h2>Gestion de usuarios</h2>
    
    
</body>
</html>