          <!-- <th:block id="supercabecera"th:fragment="head">
                <div id="topnav">
                 <a th:href="@{/}" id=logo_box><img id="logo" th:src="@{/img/icon.jpg}" alt="El logo de gotour" ></a>
                 <div class="topnav-right">
                   <a>buscar</a>
                   <a th:if="${session.u==null}" th:href="@{/login}">login</a>
                   <a th:if="${session.u==null}" th:href="@{/registro}">Registro</a>
                     <div class="dropdown" th:if="${session.u != null}">
                         <button class="dropbtn">usuario</button>
                         <div class="dropdown-content">
                           <a th:href="@{'/user/'+ ${session.u.id}+'/perfil'}">Mi perfil</a>
                           <a th:href="@{/}">Notificaciones</a>
                           <a th:href="@{/user/logout}">Salir</a>
                         </div>
                       </div>
                     <a id="dropdown" th:href="@{/perfil}"><img id="iconouser" th:src="@{/img/usuario.png}" alt="La imagen del usuario" ></a> 
                 </div>
                </div>
                 
             </th:block>-->

             <div class="site-navbar mt-4">
              <div class="container py-1">
                <div class="row align-items-center">
                  <div class="col-8 col-md-8 col-lg-4">
                    <h1 class="mb-0"><a th:href="@{/}" class="text-white h2 mb-0"><strong>GoTour<span class="text-danger">.</span></strong></a></h1>
                  </div>
                  <div class="col-4 col-md-4 col-lg-8">
                    <nav class="site-navigation text-right text-md-right" role="navigation">
                      <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>
                      <ul class="site-menu js-clone-nav d-none d-lg-block">
                        <li class="active">
                          <a th:href="@{/}">Home</a>
                        </li>
                        <li><a href="buy.html">Tours</a></li>
                        <li><a href="blog.html">Blog</a></li>
                        <li><a href="buy.html">Pagina Ejemplo</a></li>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                        <li class="has-children">
                          <!--<a th:href="@{/user/{id}/perfil(id=${session.u.id})}" th:text="${session.u.nombre}" >Usuario</a>-->
                          <ul class="dropdown arrow-top">
                            <li><a th:href="@{/user/crearTour}">Crear tour</a></li>
                            <li><a href="#">Mis tours reservados</a></li>
                            <li><a href="#">Mis tours ofertados</a></li>
                            <li class="has-children">
                              <a href="#">Sub Menu</a>
                              <ul class="dropdown">
                                <li><a href="#">Menu One</a></li>
                                <li><a href="#">Menu Two</a></li>
                                <li><a href="#">Menu Three</a></li>
                              </ul>
                            </li>
                            <li><a th:href="@{/user/logout}">Log out</a></li>
                          </ul>
                        </li>
                      </ul>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>