<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>footer - rest intentionally left empty</title>
</head>
<body>


    <div th:fragment="images-principales" class="slide-one-item home-slider owl-carousel">
      
    
  
        <div class="site-blocks-cover overlay" th:style="'background-image:url(' + @{~/img/hero_bg_1.jpg} + ');'" data-aos="fade" data-stellar-background-ratio="0.5">
          
        </div>  
  
      </div>





</body>
</html>