<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
	<title>Nav fragment - rest intentionally left empty</title>
</head>
<body>


	<div th:fragment="nav" class="site-navbar mt-4">
        <div class="container py-1">
          <div class="row align-items-center">
            <div class="col-8 col-md-8 col-lg-4">
              <h1 class="mb-0"><a th:href="@{/}" class="text-white h2 mb-0" id="logo_box"><strong>GoTour<span class="text-danger">.</span></strong></a></h1>
            </div>
            <div class="col-4 col-md-4 col-lg-8">
              <nav class="site-navigation text-right text-md-right" role="navigation">

                <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                <ul class="site-menu js-clone-nav d-none d-lg-block">
                  <li th:class="${classActiveHome}">
                    <a th:href="@{/}">Home</a>
                  </li>
                  <li th:class="${classActiveRegistro}"><a th:if ="${session.u == null}" th:href="@{/registro}">Registrate</a></li>
                  <li th:class="${classActiveLogin}"><a th:if ="${session.u == null}" th:href="@{/login}" id="login">Login</a></li>
                  <li class="has-children" th:if="${session.u}">
                    <a th:href="@{'/user/'+ ${session.u.id}+'/perfil'}" id="perfil_ref">Mi perfil</a>
                    <ul class="dropdown arrow-top">
                      <li><a th:href="@{'/user/'+ ${session.u.id}+'/perfil'}" id="miperfil">Mi perfil</a></li>
                      <li><a th:href="@{/crearTour}" id="crear">Crear tour</a></li>
                      <li><a th:href="@{/user/logout}" id="salir">Log out</a></li>
                    </ul>
                  </li>
                </ul>
              </nav>
            </div>
           

          </div>
        </div>
      </div>
    </div>

</body>
</html>