li{display: inline;
   padding: 1%;}
#logo{height: 3%;
      width: 3%;
      }
#iconouser{height: 4%;
      width: 4%;
      border-radius: 50%;}

#user{height: 10%;
    width: 10%;}

/* .contenedor{width: auto;
            height: 30%;
            display:inline-block;
            border: 10px, red;}
.container1{height: auto;
            width: 60%;
            float:left;
            border: 5px, blue;
            }
.container1{height: auto;
            width: 40%;
            float: right;
            border: 5px, brown;
            } */


/*vista admin */
#project_cards-grid {
    display:grid;
    grid-column-gap: 2vw;
    grid-row-gap: 40px;
    padding:30px;


}
.project_cards-grid-item {
    padding:5px;
    width:100%;
    background-color:white;
    position:relative;
    box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075) !important;
    border: 2px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.45rem;
}
.thumbnail {

    width:100%;

    margin-bottom: 15px;



}
.viewProjectBtnContainer{

    margin-bottom:8px;

    display:flex;
    justify-content:center;
    align-items:center;

}
.btn{
cursor:pointer;
    position:relative;
    padding:10px 20px;
    background:white;
    font-size:28px;
    border-top-right-radius:10px;
    border-bottom-left-radius:10px;
    transition:all 0.8s;
    &:after,&:before{
        content:" ";
        width:10px;
        height:10px;
        position:absolute;
        border :0px solid #fff;
        transition:all 0.8s;
        }
    &:after{
        top:-1px;
        left:-1px;
        border-top:4px solid black;
        border-left:4px solid black;
    }
    &:before{
        bottom:-1px;
        right:-1px;
        border-bottom:4px solid black;
        border-right:4px solid black;
    }
    &:hover{
        border-top-right-radius:0px;
       border-bottom-left-radius:0px;
        // background:rgba(0,0,0,.5);
        // color:white;
        &:before,&:after{

            width:100%;
            height:100%;
            // border-color:white;
        }
    }
}

