<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>Crear un tour</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <body>
    <th:block th:replace="frags/header.html">
</th:block>
     <div class="container">
       <h3>Empieza creando una plantilla del tour con los datos generales.</h3>
      <form class="form-tour" method="post" th:action="@{/tour}">

        <label for="pais" class="sr-only">País</label>
        <input type="text" id="pais" name="pais" placeholder="P. ej. España">

        <label for="ciudad" class="sr-only">Ciudad</label>
        <input type="text" id="ciudad" name="ciudad" placeholder="P. ej. Madrid">

        <label for="lugar" class="sr-only">Lugar</label>
        <input type="text" id="lugar" name="lugar" placeholder="P. ej. Madrid">

        <label for="titulo" class="sr-only">Título</label>
        <input type="text" id="titulo" name="titulo" placeholder="P. ej. EL Madrid del sigo XIX">

        <label for="descripcion" class="sr-only">Descripción</label>
        <input type="text" id="descripcion" name="descripcion" placeholder="P. ej. Tour por eL Madrid del sigo XIX.">

        <label for="maxTuristas" class="sr-only">Número máximo de turistas</label>
        <input type="number" id="maxTuristas" name="maxTuristas" value="1" min="1">

        <label for="precio" class="sr-only">Precio</label>
        <input type="number" id="precio" name="precio" value="5.0" step="0.01" min="0">
        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Crear</button>
      </form>
</div>
</body></html>