<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/styles.css}">
    <title>Datos privados</title>
</head>
<body>
    <th:block th:replace="frags/header.html">
    </th:block>
    <div> Estos datos son privados y solo son usados para tareas de pago y de gestión de la aplicación</div>
    <ul>
        <li>
            Nombre Completo: <span th:text="|${session.u.nombre} ${session.u.apellidos}|"> Pepito Pérez</span>
        </li>
        <li>
            Contraseña: <span th:text="${session.u.password}">alpargata1</span> 
        </li>
        <li>
            Número de tarjeta: <span th:text="${session.u.numtarjeta}">XXXX-XXXX-XXXX-XXXX</span> 
        </li>
        <li>
            Fecha de caducidad: <span th:text="${session.u.caducidadtarjeta}">MM/YY</span> 
        </li>
        <li>
            Número secreto: <span th:text="${session.u.numsecreto}">XXX</span> 
        </li>
        <li>
            Número de teléfono: <span th:text="${session.u.numtelefono}">666666666</span> 
        </li>
        <li>
            Pregunta de seguridad: <span th:text="${session.u.preguntaseguridad}">¿Cual fue tu primera mascota?</span> 
        </li>
        <li>
            Respuesta: <span th:text="${session.u.respuestaseguridad}">JoseLuis</span> 
        </li>
        <li>
            Idiomas: <span th:each="idioma: ${session.u.idiomashablados}" th:text="${idioma} + ' '">idioma </span>
        </li>

    </ul>
    <button type="button"> <a id= "linkboton" th:href="@{/EditarDatos}">
     Editar mis datos</a></button>
    
</body>
</html>