<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <th:block th:replace="frags/header.html">
    Esto no se ve
    </th:block>
    <span> Nombre Usuario</span>
    <span> Miembro desde: (Fecha)</span>
    <span> Turista </span>
    <span> (Foto de perfil) </span>
    <h3>Tours contratados</h3>
    <div>
        <span>Nombre tour</span>
        <span>Descripcion</span>
        <span>Fecha</span>
        <span>Precio</span>
        <span>Estado=(Estado)</span>
        <span>(Foto guia)</span>
        <span>Valoracion</span>
        <a>Contactar</a>
    </div>
    
</body>
</html>