<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>Crear un tour</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <body>
    <th:block th:replace="frags/header.html">
</th:block>
     <div class="container">
        <h3>Sube </h3>
        <form class="form-tour" method="post" th:action="@{/tour/{id}/portada(id=${tour.Id})}" enctype="multipart/form-data">

            <label for="portada" class="sr-only">Imagen de portada</label>
            <input type="file" id="portada" name="portada">

            <label for="mapa" class="sr-only">Mapa del tour</label>
            <input type="file" id="mapa" name="mapa">
            
            <button class="btn btn-lg btn-primary btn-block" type="submit">Subir</button>
        </form>

        <a th:if="${inicial}" th:href="@{/tour/{id}/crearInstancia(id=${tour.Id})}" >Saltarse este paso</a>

    </div>
</body></html>