<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"></meta>
    <title>Registro de usuario</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}">
  </head>
  <body>
    <th:block th:replace="frags/header.html">
</th:block>
     <div class="container">
      <form class="form-register" method="post" th:action="@{/registro2}">
        <h2 class="form-register-heading">Introduzca sus datos a continuación</h2>
        <p>
          <label for="nombre" class="sr-only">Nombre</label>
          <input type="text" id="nombre" name="nombre" 
            class="form-control" placeholder="Nombre" required="required"></input>
        </p>
        <p>
            <label for="apellidos" class="sr-only">Apellidos</label>
            <input type="text" id="apellidos" name="apellidos" 
              class="form-control" placeholder="Apellidos" required="required"></input>
        </p>
        <p>
            <label for="email" class="sr-only">Email</label>
            <input type="email" id="email" name="email" 
              class="form-control" placeholder="Email"></input>
        </p>
        <p>
          <label for="password" class="sr-only">Password</label>
          <input type="password" id="password" name="password" 
            class="form-control" placeholder="Password" required="required"></input>
        </p>
        <p>
            <p>Escoja una pregunta de seguridad en caso de olvidar su contraseña</p>
            <input type="radio" id="mascota" name="preguntaseguridad" value="mascota" required>
            <label for="mascota">¿Cual es el nombre de tu primera mascota?</label><br>
            <input type="radio" id="videojuego" name="preguntaseguridad" value="videojuego" required>
            <label for="videojuego">¿Cual es tu videojuego favorito?</label><br>
            <input type="radio" id="color" name="preguntaseguridad" value="color" required>
            <label for="color">¿Cual es tu color favorito?</label>
        </p>
        <p>
            <label for="respuesta de seguridad" class="sr-only">Respuesta a su pregunta de seguridad</label>
            <input type="text" id="respuestaseguridad" name="respuestaseguridad" 
              class="form-control" placeholder="respuesta"></input>
        </p>
        <p>
            <label for="username" class="sr-only">Username</label>
            <input type="text" id="username" name="username" 
              class="form-control" placeholder="username" required></input>
        </p>
        <p>
            <label for="telefono" class="sr-only">Número de teléfono</label>
            <input type="tel" id="numtelefono" name="numtelefono" 
              class="form-control" placeholder="telefono"></input>
        </p>
        <p>
            <label for="tarjeta" class="sr-only">Número de tarjeta</label>
            <input type="number" id="numtarjeta" name="numtarjeta" 
              class="form-control" placeholder="XXXX-XXXX-XXXX-XXXX" required></input>
        </p>
        <p>
            <label for="caducidad" class="sr-only">Caducidad de la tarjeta</label>
            <input type="text" id="caducidadtarjeta" name="caducidadtarjeta" 
              class="form-control" placeholder="MM/YY" required></input>
        </p>
        <p>
            <label for="secreto" class="sr-only">Número secreto</label>
            <input type="number" id="numsecreto" name="numsecreto" 
              class="form-control" placeholder="XXX" required></input>
        </p>

        
        <button class="btn btn-lg btn-primary btn-block" type="submit">Enviar</button>
      </form>
</div>
</body></html>