<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Valoracion a los usuarios</title>
    <meta charset="utf-8">
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
    <meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans:200,300,400,700,900|Roboto+Mono:300,400,500"> 
    <link rel="stylesheet" th:href="@{/fonts/icomoon/style.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/magnific-popup.css}">
    <link rel="stylesheet" th:href="@{/css/jquery-ui.css}">
    <link rel="stylesheet" th:href="@{/css/owl.carousel.min.css}">
    <link rel="stylesheet" th:href="@{/css/owl.theme.default.min.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap-datepicker.css}">
    <link rel="stylesheet" th:href="@{/css/mediaelementplayer.css}">
    <link rel="stylesheet" th:href="@{/css/animate.css}">
    <link rel="stylesheet" th:href="@{/fonts/flaticon/font/flaticon.css}">
    <link rel="stylesheet" th:href="@{/css/fl-bigmug-line.css}">
    <link rel="stylesheet" th:href="@{/css/aos.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/style_tour.css}">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <script type="text/javascript" th:src="@{/js/tour.js}"></script>

  </head>
  <body>
    <div class="site-loader"></div>
  
    <div class="site-wrap">
  
      <div class="site-mobile-menu">
        <div class="site-mobile-menu-header">
          <div class="site-mobile-menu-close mt-3">
            <span class="icon-close2 js-menu-toggle"></span>
          </div>
        </div>
        <div class="site-mobile-menu-body"></div>
      </div> <!-- .site-mobile-menu -->
  
      <nav th:replace="fragments/nav.html :: nav">
        Nav goes here
      </nav>

      <div th:replace="fragments/imagenes-principales.html :: images-principales">
     
      </div>
  
  
      <div class="site-section site-section-sm">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <div class="bg-white property-body border-bottom border-left border-right">
                <div class="row mb-5">
                  <div class="col-md-6">
                    <strong class="text-success h1 mb-3">Asistentes al tour</strong>
                  </div>
                </div>
                <h2 class="h4 text-black"></h2>
                <div th:each="u: ${tour.turistas}">
                  <div class="card_guia" th:if="${valoradosu.get(u.id)!= true}" th:id="'esconderTurista' +${u.id}">
                    <div class="card-avatar" th:if="${valoradosu.get(u.id)!= true}">
                      <a href="javascript:;" th:if="${valoradosu.get(u.id)!= true}">
                        <img class="img guia_tour_foto" th:src="@{/user/{id}/foto(id=${u.id})}" alt="La imagen del usuario" th:if="${valoradosu.get(u.id)!= true}">
                      </a>
                    </div>
                      <h4 class="card-title" th:text="${u.nombre}" th:if="${valoradosu.get(u.id)!= true}">Alec Thompson</h4>
                      <h2 class="h4 text-black" th:if="${valoradosu.get(u.id)!= true}">Indique a continuacion su valoracion respecto al usuario y los motivos de dicha valoracion</h2>
                <!-- <form method="post" class="form-contact-agent" th:action="@{/tour/{id}/valorarUser/{iduser}(id=${tour.id}, iduser=${u.id})}" th:if="${valoradosu.get(u.id)!= true}"> -->
                    
                    <div class="form-group" th:if="${valoradosu.get(u.id)!= true}">
                        <input th:class="usuario" type="hidden" th:value="${u.id}">
                        <input th:id="tour" type="hidden" th:value="${tour.id}">
                        <label for="valoracion" th:if="${valoradosu.get(u.id)!= true}">Valoracion</label>
                        <input name="valoracion" th:id="'valoracion' + ${u.id}" type="number" class="form-control" th:value="0" th:min=0 th:max=5 th:if="${valoradosu.get(u.Id)!= true}">
                        <label for="textoReview" th:if="${valoradosu.get(u.id)!= true}">Explique aqui los motivos de su valoracion</label>
                        <input name="textoReview" th:id="'textoReview' + ${u.id} " type="text" class="form-control" th:if="${valoradosu.get(u.id)!= true}">
                        <button name="review-user" th:id="review-user" class="btn btn-primary py-2 px-4 rounded-0 col-lg-3" th:if="${valoradosu.get(u.id)!= true}">Enviar</button>
                      <!-- </form> -->
                    </div>
              </div>
                
                </div>

                
              </div>
            </div>  
          </div>
        </div>
      </div>
      <nav th:replace="fragments/footer.html :: footer">
        Nav goes here
      </nav>
  
  <script th:src="@{~/js/jquery-migrate-3.0.1.min.js}"></script>
  <script th:src="@{~/js/jquery-3.3.1.min.js}"></script>
  <script th:src="@{~/js/popper.min.js}"></script>
  <script th:src="@{~/js/jquery-ui.js}"></script>
  <script th:src="@{~/js/owl.carousel.min.js}"></script>
  <script th:src="@{~/js/bootstrap.min.js}"></script>
  <script th:src="@{~/js/jquery.stellar.min.js}"></script>
  <script th:src="@{~/js/mediaelement-and-player.min.js}"></script>
  <script th:src="@{~/js/jquery.magnific-popup.min.js}"></script>
  <script th:src="@{~/js/jquery.countdown.min.js}"></script>
  <script th:src="@{~/js/aos.js}"></script>
  <script th:src="@{~/js/bootstrap-datepicker.min.js}"></script>
  <script th:src="@{~/js/circleaudioplayer.js}"></script>
  <script th:src="@{~/js/main.js}"></script>
  <script th:src="@{~/js/user.js}"></script>
  </body>
</html>